body {
    display:flex;
    align-items: center ;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-position: center;
    background-size: cover ;
    color:white;

}

h1 {
    font-size: 3em;
    color:fff;
    text-shadow: 3px 1px 3px black;
}
h2{
    font-size: 2em;
    text-shadow: 3px 1px 3px black;
}
i.wi {
    font-size: 3em;
    margin:0;
    text-shadow: 3px 1px 3px black;
}

.tooltip{
    display:none;
}

.clear{background: url('img/clear.jpg');}
.cloud{ background: url('img/cloud.jpg')  ;}
.rain{background: url('img/rain.jpg'); }
.snow{background: url('img/snow.jpg');}